@import "tailwindcss";

@theme {
  --color-background: #0B1220;
  --color-surface: #161c27;
  --color-primary: #7A5CFA;
  --color-accent: #3CCFB1;
  --color-text-primary: #E7ECF5;
  --color-text-secondary: #A6B0C2;
  
  --font-sans: var(--font-inter), system-ui, sans-serif;
  
  --radius-sm: 0.375rem;
  --radius-md: 0.75rem;
  --radius-lg: 1rem;
}
